venv/*
dist/*
*.pyc
credentials.json
env.sh
launch.json
accessToken.txt
data/*
node_modules/*
excel/*
.env
accessToken/*
logs/*
notes.txt
*.sh
market_holidays_cache.json
notes/*
test_notes/*
VWAP_Scalping_01.ipynb
models/*
.mypy_cache/*
accessTokenSB/*
trade_analysis_1.txt
trade_analysis.txt
run_migrations.py
trade_analysis.txt
fno_instruments_cache.pkl